@charset "utf-8";
/* CSS Document */
.left
{
	display:inline;
}

.inner_main
{
padding:13px; padding-top:0; background:#FFFFFF; width:784px; float:right; min-height:1505px; _height:1505px
}

.SiteMap p
{
line-height:35px; height:35px; 
}

.box1
{
border:1px solid #BEAC8D; _height:100px; min-height:100px
}

.box1 h2
{
background:url(../images/inner_h2.gif) repeat-x;
}

.box1 h2 span
{
background:url(../images/inner_h2_icon.gif) no-repeat left; display:block; height:28px; color:#74572D; font-size:14px; line-height:28px; padding-left:24px; margin-left:10px;
}

.box1 h2 p
{
	float:right; font-size:12px; line-height:28px; font-weight:100; padding-right:10px;
}
.box1 .cont
{
padding:30px;padding-top:20px; padding-bottom:20px;
}

.box1 li
{
	line-height:24px;
}
.inner_hr0
{
	height:20px; overflow:hidden;
}
.inner_hr
{
background:url(../images/inner_hr.jpg) no-repeat center; height:15px; overflow:hidden;
}

.inner_hr2
{
background:url(../images/inner_hr2.jpg) no-repeat center; height:15px; overflow:hidden;
}

.inner_hr3
{
background:url(../images/inner_hr3.gif) no-repeat center; height:15px; overflow:hidden;
}

.inner_list1 li
{
float:left; width:33%; min-height:250px; padding-bottom:10px; _height:250px;
}

.inner_list1 li img
{
display:block; margin:0 auto;
}

.inner_list1 li p
{
text-align:center; line-height:22px; padding-left:8px; padding-right:8px;
}

.fdjbtn
{
padding-top:10px;
}

.ItemListSearch
{
}

.ItemListSearch li
{
	float:left; margin-right:10px; display:inline; line-height:22px;
}

.ItemListSearch li .input1
{
	height:19px; line-height:17px;
}

.ItemListSearch li .btn1Style
{
	height:22px;
}

.Icon_gift
{
	background:url(../images/icon_gift.gif) no-repeat left; line-height:22px; padding-left:22px;
}

.TypeSelect
{
	height:40px; float:left; width:580px;
}

.TypeSelect ul li,.TypeSelect h4,.TypeSelect .vhr
{
	float:left; line-height:40px;
}

.TypeSelect ul li
{
	margin-right:10px;
}

.TypeSelect .grayfont1
{
	background:url(../images/gray_square.gif) no-repeat left; padding-left:13px; display:block;
}

.TypeSelect ul
{
	padding-right:10px;
}

.PageSelect
{
	height:40px; float:right; 
}

.PageSelect span
{
	
}

.PageSelect li
{
	float:left; display:inline; margin:0 2px;
}

.PageSelect input
{
	height:19px; line-height:17px;
}

.PageSelect li
{
	padding-top:10px;
}
.inner_bottomcont
{
padding:15px;
}

.reg_leftbox
{
width:470px; float:left; margin-left:13px; display:inline;
}

.reg_rightbox
{
width:470px; float:right; margin-right:13px; display:inline;
}
.loginSuc
{
 width:954px; float:none; display:block; margin-right:0px;
}
.reg_leftbox .box1,.reg_rightbox .box1
{
margin:0; height:500px; overflow:hidden;
}
.loginSuc .box1
{
 height:200px;	
}
.loginSuc p{ line-height:35px; text-align:center}
.tabSelect
{
	position:relative;
}

.tabSelect ul
{
	position:absolute;
}

.tabSelect ul li
{
	display:block; height:26px; padding:0 18px; line-height:26px; border:1px solid #BEAC8D; background:#E5DED2; float:left; margin-right:6px; display:inline;
}

.tabSelect ul li.now
{
	background:#FFF; border-bottom:1px solid #FFF;
}

.tabSelect .cont
{
	 border:1px solid #BEAC8D; margin-top:27px;
}

.inner_btnlist
{
	margin-top:10px;
}

.custsearch_table th
{
	background:#74572D; color:#FFF; font-size:12px; border:1px solid #BEAC8D;
}

.NewSerBar ul li{ float:left; display:inline; width:660px} 
.NewSerBar ul li select{ width:90px; vertical-align:middle}
.NewSerBar ul li.Go{ width:30px; padding-left:5px}
.handshow_left
{
	float:left; width:460px; 
}

.handshow_left_num
{
	float:left; width:100px; padding-top:10px;
}

.handshow_left .buybtn
{
	margin:0 auto;
}

.handshow_right
{
	float:right; width:240px;
}

.buybtn
{
	background:url(../images/i_buybtn.gif); display:block; width:71px; height:21px; text-align:center; line-height:21px; margin-top:5px;
}

.handshow_list li
{
	padding:15px; background:#ECE8DF; border-bottom:1px dashed #A0A0A0;
}

.handshow_list img
{
	float:left;
}

.handshow_list p
{
	line-height:16px; float:left; width:100px; margin-left:10px;
}

.handshow_ad
{
	padding:13px; padding-bottom:0;background:#ECE8DF;
}

.handshow_ad li
{
	  padding-bottom:13px;
}

.helptable td p
{
	text-align:center; text-indent:0;
}
.relative{ position:relative;}
.question_list a strong
{
	display:block; background:url(../images/faq_q.gif) no-repeat left; padding-left:30px;
}

.question_list .answer {
	background:url(../images/faq_a1.gif) top left no-repeat; padding-left:30px; display:none;
}
