<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FuTai.Component.Properties.Settings.FuTaiConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=FuTai;Integrated Security=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="FuTai.Component.Properties.Settings.FuTaiConnectionString1"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=FuTai;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="FuTai.Component.Properties.Settings.FuTaiConnectionString2"
            connectionString="Data Source=SNDA-D834A0B17C\SQLEXPRESS;Initial Catalog=FuTai;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="FuTai.Component.Properties.Settings.FuTaiConnectionString3"
            connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=FuTai;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="FuTai.Component.Properties.Settings.FuTaiConnectionString4"
            connectionString="Data Source=SNDA-D834A0B17C\SQLEXPRESS;Initial Catalog=FuTai;Persist Security Info=True;User ID=sa;Password=863113939"
            providerName="System.Data.SqlClient" />
        <add name="FuTai.Component.Properties.Settings.FuTaiConnectionString5"
            connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=FuTai;Persist Security Info=True;User ID=sa;Password=jayryu1986"
            providerName="System.Data.SqlClient" />
        <add name="FuTai.Component.Properties.Settings.FuTaiConnectionString6"
            connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=FuTai;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>