<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FuTai.Component.Properties.Settings.FuTaiConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=FuTai;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>