<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FuTai.Component.Properties.Settings.FuTaiConnectionString"
            connectionString="Server=.;Database=FuTai;User Id=sa;password=1q2w3e};"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>